Source: mastercoin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@mastercoin.org>
Uploaders: Holger Schinzel <holger@mastercoin.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.47),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qt4-qmake, libqt4-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.mastercoin.org/
Vcs-Git: git://github.com/masternode/mastercoin.git
Vcs-Browser: https://github.com/masternode/mastercoin

Package: dashd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Mastercoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Mastercoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Mastercoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, dashd, and the CLI tool
 mastercoin-cli to interact with the daemon.

Package: mastercoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Mastercoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Mastercoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Mastercoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Mastercoin-Qt, a GUI for Mastercoin based on Qt.

Package: mastercoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Mastercoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Mastercoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Mastercoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides mastercoin-tx, a command-line transaction creation
 tool which can be used without a mastercoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
